body{
<<<<<<< HEAD
	background-image: url("../cura_images/cura_open.png");
  background-size: cover;
}

@font-face {
    font-family: caviar;
    src: url(caviardreams.ttf);
}
@font-face {
    font-family: caviarb;
    src: url(caviardreams_bold.ttf);
}

=======
	background: rgb(252,241,90);
	background: -moz-linear-gradient(left, rgb(252,241,90) 0%, rgb(255,183,66) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgb(252,241,90)), color-stop(100%, rgb(255,183,66)));
	background: -webkit-linear-gradient(left, rgb(252,241,90) 0%, rgb(255,183,66) 100%);
	background: -o-linear-gradient(left, rgb(252,241,90) 0%, rgb(255,183,66) 100%);
	background: -ms-linear-gradient(left, rgb(252,241,90) 0%, rgb(255,183,66) 100%);
	background: linear-gradient(to right, rgb(252,241,90) 0%, rgb(255,183,66) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf15a', endColorstr='#ffb742', GradientType=1 );
}
>>>>>>> 35c5e30ff238f3777ef83bd2f1ba8de0abc0549c
.metus{

}

h1{
	height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  font-size: 502.5%;
  font-family: caviar;
  color: #22a552;
}


=======
   font-size: 502.5%;
}

table, td, th {
    border: 1px solid black;
}
>>>>>>> 35c5e30ff238f3777ef83bd2f1ba8de0abc0549c

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}
h2{
 	font-size: 400%;
<<<<<<< HEAD
 	font-family: caviarb;
 	color: white;
 	background-color: #f23c57;
}
=======
 	font-family: Impact, Charcoal, sans-serif;
 	color: white;
 	background-color: rgb(0,0,0);
  }
>>>>>>> 35c5e30ff238f3777ef83bd2f1ba8de0abc0549c
.walk{
	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 40px; 
    -moz-column-gap: 40px; 
    column-gap: 40px;
    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid; 
    column-rule-style: solid;
}
<<<<<<< HEAD

=======
h3{
    font-size: 400%;
    font-family: Impact, Charcoal, sans-serif;
    color: white;
 	background-color: rgb(0,0,0);
}
>>>>>>> 35c5e30ff238f3777ef83bd2f1ba8de0abc0549c
.yoga{
 -webkit-column-count: 2; 
     -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 40px; 
    -moz-column-gap: 40px; 
    column-gap: 40px;
    -webkit-column-rule-style: solid; 
    -moz-column-rule-style: solid; 
    column-rule-style: solid;
}

<<<<<<< HEAD
=======
.btn{
  width: 40px;
    height: 40px;
}

>>>>>>> 35c5e30ff238f3777ef83bd2f1ba8de0abc0549c

