body{
	background-image: url("../cura_images/cura_bg.png");
	background-size: cover;
}

@font-face {
    font-family: caviarb;
    src: url(caviardreams_bold.ttf);
}
@font-face {
    font-family: caviar;
    src: url(caviardreams.ttf);
}

.back{
	background-color: white;
	border-radius: 5px;
	font-family: caviar;
}

div { 
    text-align: center;
    position: fixed;
    top: 80%;
}
div img{
    display: inline-block;
    width: 80px;
    height: 80px;
}
div:after {
    content: '';
    display: inline-block;
    width: 100%;
}

h4 {
	font-family: caviar;
	color: #5bc381;
}

#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #22a552;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #ade1c0;
}
#metus{
	position: fixed;
    top: 40%;
    left: 35%;
}
.heading {
	font-family: caviarb;
	color: #f23c57;
}