@font-face {
    font-family: caviar;
    src: url(caviardreams.ttf);
}
@font-face {
    font-family: caviarb;
    src: url(caviardreams_bold.ttf);
}

body {
	background-image: url("../cura_images/cura_open.png");
	background-size: cover;
}

h2 {
	font-family: caviar;
}

p{
	font-family: caviar; 
}