body {
	background-image: url("../cura_images/cura_bg.png");
    background-size: cover;
}

@font-face {
    font-family: caviar;
    src: url(caviardreams.ttf);
}
@font-face {
    font-family: caviarb;
    src: url(caviardreams_bold.ttf);
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #ec1d46;
    font-family: caviar;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.informationbar) {
    background-color: #111;
}

.informationbar {
    background-color: #ade1c0;
    border-radius: 10px;
    margin-top: 6%;
}

#metus{
    position: fixed;
    top: 40%;
    left: 35%;
}

.info {
background-color: #ade1c0;
}

.journal {
background-color: #5bc381;
}

.checklist {
background-color: #22a552;
}

.icons { 
    margin-left: auto;
    margin-right: auto;
    bottom: 2%;
    text-align: center;
    position: absolute;
}
div img{
    display: inline-block;
    width: 20%;
    height: 20%;
}
div:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#rectangle{
    width:200px;
    height:100px;
    background:blue;
}

#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #ff9999;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #f23c57;
}

h4 {
    font-family: caviarb;
    color: #f23c57;
}

.heading {
	color: blue;
}