#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}

.heading {
	color: blue;
}
@font-face {
    font-family: caviar;
    src: url(caviardreams.ttf);
}

h2 {
    font-family: caviar, sans-serif;
}

body {
    background-image: url('../cura_images/cura_open.png');
    background-size: cover;
}

.container { 
    margin-left: 0%;
    margin-right: 3%;
    top: 40%;
    text-align: center;
    position: absolute;
}

div img{
    display: inline-block;
    width: 17%;
    height: 17%;
}
div:after {
    content: '';
    display: inline-block;
    width: 100%;
}

