body{
	background-image: url("../cura_images/cura_bg.png");
	background-size: cover;
}
@font-face {
    font-family: caviarb;
    src: url(caviardreams_bold.ttf);
}
@font-face {
    font-family: caviar;
    src: url(caviardreams.ttf);
}

.back {
	font-family: caviar;
	background-color: white;
}

p {
	font-family: caviar;
}