body{
	background-image: url("../cura_images/cura_bg.png");
	background-size: cover;
}

@font-face {
    font-family: caviarb;
    src: url(caviardreams_bold.ttf);
}
@font-face {
    font-family: caviar;
    src: url(caviardreams.ttf);
}

h1 {
	font-family: caviarb;
	color: black;
}

p {
	font-family: caviar;
}

.back{
	background-color: white;
	border-radius: 5px;
	font-family: caviar;
}


